{{ form_start(form) }}
    {{ form_widget(form) }}
        {{ form_start(translationForm) }}
        {{ form_widget(translationForm) }}
    
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}



